.title {
  font-size: 150%;
}

.mat-toolbar {
  height: 7vh;
}

.spacer {
  flex: 1 1 auto;
}

.main-container {
  position: absolute;
  left: 0;
  right: 0;
  height: 100%;
}

.sidenav-container {
  background-color: red;
  width: 30%;
}

a {
  text-decoration: none;
  font-size: 110%;
  white-space: normal;
}

button {
  font-size: 110%;
  min-width: min-content;
}

.example-icon {
  padding: 0 14px;
}