<mat-sidenav-container class='mat-typography' cdkDropListGroup>
    <mat-sidenav mode="side" opened class='sidebar'>
        <mat-form-field class="search-input" appearance="outline">
            <mat-icon matPrefix>search</mat-icon>
            <input matInput placeholder=" Search for a recipe" [(ngModel)]='searchString' (keyup.enter)="search()">
        </mat-form-field>

        <div [hidden]="!searchResultSummary">
            <p>{{searchResultSummary}}</p>
            <mat-list id="searchList" cdkDropList [cdkDropListData]="searchResult" (cdkDropListDropped)="drop($event)"
                class=" search-list">
                <mat-list-item *ngFor="let recipe of searchResult" class="item search" cdkDrag> {{recipe}}
                </mat-list-item>
            </mat-list>
        </div>
    </mat-sidenav>

    <mat-sidenav-content class='main'>
        <div cdkDropList [cdkDropListData]="menu.dinner[day]" (cdkDropListDropped)="drop($event)"
            *ngFor="let day of getWeekDayStringArray()">
            <h2>{{ day }}</h2>
            <div *ngFor="let item of menu.dinner[day]" class="item schedule" cdkDrag>
                {{ item }}
            </div>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>