<div cdkDropListGroup class="menu">
  <div cdkDropList [cdkDropListData]="menu.dinner[day]" (cdkDropListDropped)="drop($event)" class="day-list"
    *ngFor="let day of getWeekDayStringArray()">
    <div *ngFor="let item of menu.dinner[day]" class="item-box" cdkDrag>
      {{ item }}
    </div>
  </div>
</div>

<!-- <mat-sidenav-container >
  <mat-sidenav mode="side" class="sidenav-container" opened>
    <router-outlet name="sidemenu"></router-outlet>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet> </router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container> -->
