.example-container {
  position: absolute;
  height: 100%;
}

.all-recipes-container {
  display: grid;
  grid-gap: 5px;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
}

.recipe-card {
  border-radius: 5px;
  padding: 20px;
}

.sidenav {
  width: 200px;
}

.add-button {
  margin: 20px;
}
