<div class="ingredient-container">
  <div class="ingredient-item first">
    <mat-form-field [floatLabel]="'never'" class="input-amount">
      <input matInput placeholder="1" [(ngModel)]="ingredient.amount" type="number" #amount>
    </mat-form-field>
  </div>

  <div class="ingredient-item">
    <mat-form-field [floatLabel]="'never'" class="input-unit">
      <input matInput placeholder="cup" [(ngModel)]="ingredient.unit">
    </mat-form-field>
  </div>

  <div class="ingredient-item">
    <mat-form-field [floatLabel]="'never'" class="input-method">
      <input matInput placeholder="chopped" [(ngModel)]="ingredient.prepMethod">
    </mat-form-field>
  </div>

  <div class="ingredient-item">
    <mat-form-field [floatLabel]="'never'" class="input-name">
      <input matInput placeholder="onions" [(ngModel)]="ingredient.rawIngredient" (keydown.tab)="addIngredient()">
    </mat-form-field>
  </div>

  <button mat-icon-button class="ingredient-item delete-button">
    <mat-icon>clear</mat-icon>
  </button>

</div>
<div *ngIf="isNew" class="ingredient-add">
  <button mat-stroked-button (click)="addIngredient()">
    <i class="material-icons">add</i> Add another
  </button>
</div>