.direction-container {
    display: flex;
    align-items: baseline;
}

.direction-number {
    width: 30px;
}

.direction-details {
    flex-grow: 1;
}

textarea.mat-input-element {
    padding: 10px 10px 0 0;
}