.step-container {
  /* display: flex;
    justify-content: flex-start;
    flex-direction: column; */
  height: 600px;
}

.actions-container {
  display: flex;
  justify-content: space-between;
}

.recipe-tags {
  flex-grow: 2;
}

.recipe-name {
  font-size: 20px;
  width: 100%;
}
