<mat-accordion multi="true">
  <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Ingredients
      </mat-panel-title>
    </mat-expansion-panel-header>

    <div *ngIf="recipe$ | async as recipe">
      <p *ngFor="let ingredient of recipe.ingredients"></p>
    </div>
  </mat-expansion-panel>
  <mat-expansion-panel>
    [expanded]="true"
    <mat-expansion-panel-header>
      <mat-panel-title>
        Directions
      </mat-panel-title>
    </mat-expansion-panel-header>

    <mat-form-field>
      <input matInput placeholder="First name" />
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Age" />
    </mat-form-field>
  </mat-expansion-panel>
</mat-accordion>
